.body{
    font-family: Arial, sans-serif;
    text-align: center;
    direction: rtl;
}
#calculator{
    width: 300px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 40px;
    background-color: #272727;
}
#display {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}
#buttons{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 5px;
    width: 100%;
}
button{
    padding: 10px;
}
#namayeshgar{
    width: 92%;
    padding: 10px;
    margin-bottom: 10px;
}